*, *::before, *::after {
	font-family: Verdana;
	box-sizing: box-border;
}

body {
	margin: 0;
}

#wrapper {
	background-color: #EEEEEE;
	-webkit-box-shadow: 0px 4px 7px 1px rgba(175,175,175,0.6);
	-moz-box-shadow: 0px 4px 7px 1px rgba(175,175,175,0.6);
	box-shadow: 0px 4px 7px 1px rgba(175,175,175,0.6);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0;
	width: 870px;
	height: 670px;
	position: relative;
	margin: calc(50vh - (0.5 * 670px)) auto;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

#wrapper > #canvas-content {
	position: relative;
	display: none;
}

#wrapper > #canvas-content > #canvas, #wrapper > #canvas-content > #ending {
	padding-top: 10px;
	padding-left: 39px;
}

#wrapper > #canvas-content > #ending {
	display: none;
	width: 602px;
	height: 602px;
}

#wrapper > #canvas-content > #helper-image {
	width: 220px;
	height: 220px;
	position: absolute;
	right: 5px;
	top: 10px;
}

#wrapper > #images-content > #start {
	position: absolute;
	bottom: 20px;
	left: 70px;
	font-size: 18px;
	border-radius: 20px;
	padding: 10px 30px;
	cursor: pointer;
	color: white;
	border: none;
	background-color: #759BCE;
}

#wrapper > #canvas-content > #restart {
	font-size: 18px;
	border-radius: 20px;
	border: none;
	position: absolute;
	bottom: 58px;
	right: 45px;
	padding: 10px 20px;
	cursor: pointer;
	color: white;
	background-color: #759BCE;
	margin: 0;
	display: none;
}

#wrapper > #canvas-content > #text {
	position: absolute;
	height: 120px;
	width: 210px;
	top: 250px;
	right: 8px;
}

#wrapper > #canvas-content > #text > p {
	cursor: default;
	padding: 0;
	margin: 0;
	text-indent: 15px;
	font-size: 14px;
	font-style: oblique;
}

#image-1, #image-2, #image-3, #image-4, #image-5, #image-6 {
	display: none;
}

#wrapper > #images-content > img {
	width: 240px;
	height: 240px;
	border: 5px solid transparent;
	border-radius: 50px;
	pointer-events: stroke;
}

#wrapper > #images-content > img:hover {
	cursor: pointer;
}

#wrapper > #images-content {
	padding-left: 55px;
	padding-top: 50px;
}